body {
    font-family: "Inter";
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery {
    margin: 20px 0px;
    display: grid;
    gap: 10px;
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
}

img {
    width: 200px;
    height: 200px;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(80%);
    border-radius: 10px;
}

img:hover {
    filter: none;
    transform: scale(1.04);
    transition: all 0.2s ease;
}

.carousel-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    place-content: center;
    height: 100%;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
}

.carousel-container:HOVER {
    animation-play-state: paused;
}

.carousel-container img {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(80%);
    transition: all 0.3s ease-in;
}

.carousel-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}